
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}
.well{
  text-align: center;
  
}

/* ---- button ---- */
.readmore{
  transition:0.4s ease all;
  position: relative;
  top:-40px;
  margin:auto;
  left:50%;
  margin-left:-20px;
  padding:10px;
  border: none;
  background:#fff;
  width:40px;
  height:40px;
  color: #222;
  font-family: raleway;
  font-size: 24px;
  text-shadow: 0 1px white;
  cursor: pointer;
  border-radius:100%;
}
.readmore p{
  margin-top:-8px;
  text-align: center;
}
.cvmid{
    background:rgba(255,255,255,0.2);
    overflow-y:hidden; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.cvmid2{
    background:rgba(255,255,255,0.2);
    overflow-y:hidden; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.morecontent{
    overflow: hidden;
}
.cvleft{
    background:rgba(0,0,0,0.1);
    padding-left:50px;
    padding-right:50px;
}
.cvright{
     background:rgba(0,0,0,0.1);
    padding-left:50px;
    padding-right:50px;
}
.button {
  padding: 0.8em 1.0em;
  background: #EEE;
  border: none;
  background:#fff;
  color: #222;
  font-family: raleway;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
  border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.button:hover {
  background-color: rgba(255,255,255,0.8);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: rgba(0,0,0,0.3);
}

.button.is-checked {
  color: white;
}

.button:active {
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  border: 0px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.element-title{
  font-family: 'Raleway', sans-serif;
  position: relative;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  margin: auto;
   top: 80px;
    padding-left: 0px;
  padding-right: 0px;
  font-size: 26px;
  font-weight: 200;
  color: white;
  text-align: center;
}
.big{
    top: 60px;
padding-left: 20px;
  padding-right: 20px;
}
.small{
  top: 100px;
    padding-left: 0px;
  padding-right: 0px;
}

.element-text{
  text-align:center;
  margin-top:10px;
  padding-left:16px;
   padding-right:16px;
   font-size:15px;
}
.element-panel-top {
  transition:0.4s ease all;
  border:1px solid transparent;
  position: relative;
  float: left;
  top:-140px;
  width: 280px;
  height: 140px;
  padding: 0px;
  background: rgba(0,0,200,0.6);
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  cursor:pointer;
}
.slidedown{
  transition:0.4s ease all;
  top:0px;
}
.viewpj{
  transition:0.4s ease all;
  position: absolute;
  opacity: 0.4;
  width: 100%;
 background: rgba(0,0,0,0.7);
  height: 100px;
  margin-top:100px;
}
.eyeball{
  position:absolute;margin-top:3px; left:50%; margin-left:-15px;
}
 .viewpj:hover{
  transition:0.4s ease all;
 background: rgba(0,0,150,0.8);
}
.element-panel-bottom {
  transition:0.4s ease all;
  border:1px solid transparent;
  position: relative;
  float: left;
  top:140px;
  width: 280px;
  height: 140px;
  padding: 0px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  cursor:pointer;
}
.slideup{
  transition:0.4s ease all;
  top:0px;
}

.element-panel {
  border:1px solid transparent;
  position: relative;
  float: left;
  top:140px;
  width: 280px;
  height: 140px;
  padding: 0px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  cursor:pointer;
  /*
  border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;*/
}

.element-item {
  position: relative;
  overflow: hidden;
  border:2px solid transparent;
  float: left;
  width: 280px;
  height: 280px;
  margin: 39px;
  padding: 0px;
  background: #888;
  color: #262524;
border-radius:100%;
cursor:pointer;
  /*
  border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;*/
}
#eye-icon{
  z-index: 30;
}
.element-item:hover #eye-icon{
    transition:0.4s ease all;
    fill: yellow;
}

.element-item:hover{
    transition:0.4s ease all;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 20px;
  bottom:80px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  left: 50px;
  top: 130px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 140px;
}

.element-item .weight {
  position: absolute;
  left: 130px;
  bottom: 140px;
  font-size: 18px;
}

.element-item.website { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.tech  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.media   { background: #FF0; background: hsl(  72, 100%, 50%); }

.element-item.pj1{
  background: #e0e0e0;
  /*background-image:url('https://i.ytimg.com/vi/jY7ocf86HWQ/hqdefault.jpg');*/
  background-size:cover;
  background-position: 50%;
}

.glyphcv{
    background-image:url('././fonts/glyphicons/png/glyphicons-11-envelope.png');
    background-size: 50px 50px;
    background-position: 50%;
}

#mydiv {
    width:100%;
    margin:auto;
    margin-top:80px;
    height:300px;
    background:rgba(0,0,0,0);
    transition:0.4s ease all;
}
.responder{
    max-width: 800px;
    margin:auto;
}

/* Alt bod for medium display  */

.hide{
    display:none;
}
.dead{
    opacity:0;
    visibility: hidden;
    transition:0.9s ease;
}
.active{
    opacity:1;
    visibility: visible;
    transition:0.9s ease;
}

#logo{
    cursor:pointer;
    margin:auto;
    width:200px;
     height:200px;
     border-radius:100%;
     background:transparent;
}


@-webkit-keyframes pulse{0%{-webkit-transform:scale(1.0);}
    50%{-webkit-transform:scale(0.9);}
    100%{-webkit-transform:scale(1.0);}
}
@keyframes pulse{0%{transform:scale(1.0);}
50%{transform:scale(0.9);}
100%{transform:scale(1.0);}
}
.pulse{-webkit-animation:pulse 1.2s normal;-moz-animation:pulse 1.2s normal;-ms-animation:pulse 1.2s normal;animation:pulse 1.2s normal;}

.altnav{
    position:fixed; top:76px; background:rgba(0,0,0,0.4); width:100%; height:30px; margin:auto;
}

/*Media @ 760px or smaller*/
@media screen and (max-width: 760px) {
  .altnav{
top: 0px;
  }
/*nav .pagination{
    display:none;
}
nav {
  display: none;
}*/
.cvleft{
    background:rgba(0,0,0,0.1);
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 20px;
}
.cvright{
     background:rgba(0,0,0,0.1);
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 20px;
}
}
/*Media @ 480px or smaller*/
@media screen and (max-width: 480px) {
.cvleft{
    background:rgba(0,0,0,0.1);
    padding-left:30px;
    padding-right:30px;
}
.cvright{
     background:rgba(0,0,0,0.1);
    padding-left:30px;
    padding-right:30px;
}
}
/*Media @ 1280px or larger*/
@media screen and (min-width: 1280px) {

  .cvpage{
border-top-right-radius:10px;
border-top-left-radius:10px;
  }
/* Alt bod for large display  */
.altbod{
    height:auto;
    margin:auto;
    padding-top:280px;
    max-width:1280px;
    background:rgba(0,0,0,0.1);
}
}



