p{
    font-family: 'Raleway', sans-serif;
}
.block-left{
	width:100%; height:200px; background:red;
}
.block-mid{
	width:100%; height:200px; background:red;
}
.block-right{
	width:100%; height:200px; background:red;
}
